.row
  .large-12.columns
    h1 = title
    .row
      .large-12.columns
        = link_to t(".new"), new_skill_path
    - if @skills.present?
      .row
        .large-12.columns
          table
            tbody
              - @skills.each do |skill|
                tr
                  td
                    = link_to skill.title, skill_path(skill)
                  td
                    = link_to t(".edit"), edit_skill_path(skill)