.row
  .large-12.columns
    nav.navigation
      ul.breadcrumbs
        li = link_to t("skills.index.title"), skills_path
        li = title
    h1 = title
    = simple_form_for @skill do |f|
      .row
        .large-12.columns
          = f.input :title, :required => true
      .row
        .large-12.columns
          = f.input :member_description
      .row
        .large-12.columns
          = f.input :ministry_description
      .row
        .large-12.columns
          = f.input :shared_description
      .row
        .large-12.columns
          = link_to t(".cancel"), skills_path, :class => "button secondary float-left"
          = f.button :submit, :value => t(".submit"), :class => "float-right"