- content_for(:title, t(".title", :title => @skill.title))
.row
  .large-12.columns
    nav.navigation
      ul.breadcrumbs
        li = link_to t("skills.index.title"), skills_path
        li = title
    h1 = title
    hr
    .row
      .large-12.columns
        h3 = t(".ministry_description")
        p = @skill.ministry_description
    .row
      .large-12.columns
        h3 = t(".member_description")
        p = @skill.member_description
    hr
    .row
      .large-12.columns
        = link_to t(".edit"), edit_skill_path(@skill), :class => "button"