- content_for(:title, t(".title", :name => @ministry.name))
.row
  .large-12.columns
    nav.navigation
      ul.breadcrumbs
        li = link_to t("ministries.index.title"), ministries_path
        li = title
    h1 = title
    = simple_form_for @ministry do |f|
      .row
        .large-12.columns
          = f.input :name, :required => true
      .row
        .large-12.columns
          = f.input :description
      .row
        .large-12.columns
          = link_to t(".cancel"), ministries_path, :class => "button secondary float-left"
          = f.button :submit, :value => t(".submit"), :class => "float-right"