.row
  .large-12.columns
    h1 = title
    .row
      .large-12.columns
        = link_to t(".new"), new_ministry_path
        - if @ministries.present?
      .row
        .large-12.columns
          table
            tbody
              - @ministries.each do |ministry|
                tr
                  td
                    = link_to ministry.name, ministry_path(ministry)
                  td
                    = link_to t(".edit"), edit_ministry_path(ministry)