- content_for(:title, t(".title", name: @ministry.name))
.row
  .large-12.columns
    nav.navigation
      ul.breadcrumbs
        li = link_to t("ministries.index.title"), ministries_path
        li = title
    h1 = title
    .row
      .large-12.columns
        p = @ministry.description
    .row
      .large-12.columns
        h3 = t(".skills")
        - @ministry.skills.each do |skill|
          .callout
            h4 = skill.title

    .row
      .large-12.columns
        = link_to t(".edit"), edit_ministry_path(@ministry), :class => "button"