.row
  .large-12.columns
    h1 Oops, something went wrong on our side.
    p Don't worry, you didn't do anything wrong. We will try to fix the issue. In the mean time, please try another part of our site.