- skill_class = display_class_for_member_skill(skill)
- leaf_class = skill.leaf? ? "MemberSkill--leaf" : ""
.row
  .large-1.column
  .large-11.columns
    div id=skill.slug class="row MemberSkill MemberSkill--#{skill_class} #{leaf_class}"
      .large-10.columns
        h3 = skill.title
        p = skill.member_description
      .large-2-columns
        - if current_member.has_skill?(skill)
          = link_to t(".deselect"), deselect_member_skill_path(:id => skill, :anchor => skill), :class => "button alert"
        - else
          = link_to t(".select"), select_member_skill_path(:id => skill, :anchor => skill), :class => "button"
    - skill.children.each do |child_skill|
      = render :partial => "skill_tree", :locals => { :skill => child_skill }