.MemberSkill {
  background: white;

  &--active {
    background: lightgreen;
  }

  &--selected {
    background: lightgray;
  }

  &--related {
    background: lightgoldenrodyellow;
  }

  &--inactive {
    display: none;
  }

  .button {
    float: right;
    vertical-align: middle;
  }
}

.MemberSkill--leaf {
  &.MemberSkill--active {
    background: green;
  }

  &.MemberSkill--selected {
    background: lightgray;
  }

  &.MemberSkill--related {
    background: yellow;
  }
}