doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    title == title

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  body
    = render(:partial => "shared/header")
    == yield
