.row
  .large-12.columns
    h1 Welcome Back
    .row
      .large-12.columns
        = simple_form_for @member, :url => login_members_path do |f|
          .row
            .large-4.columns
              = f.input :email
            .large-4.columns
              = f.input :password, :hint => false, :input_html => { :value => @password }, :error_html => { :id => 'password_error'}
            .large-4.columns
              = f.button :submit, :value => "Begin"
