.row
  .large-12.columns
    h1 Become a Member
    .row
      .large-12.columns
        = simple_form_for @member do |f|
          .row
            .large-4.columns
              = f.input :email, :required => true
            .large-4.columns
              = f.input :password, :hint => false, :error_html => { :id => 'password_error'}, :required => true
            .large-4.columns
              = f.input :password_confirmation, :required => true
          .row
            .large-4.columns
              = f.input :first_name, :required => true
            .large-4.columns
              = f.input :last_name, :required => true
            .large-4.columns
              = f.button :submit, :value => t(".submit")
