.row
  .large-12.columns
    h2 Your Profile
    h5.subheader = t(".tenure", :tenure => current_member.tenure)
    hr
    .row
      .large-12.columns
        h3 = t(".skills")
        - current_member.skills.each do |skill|
          - leaf_class = skill.leaf? ? "MemberSkill--leaf" : ""
          div class="callout MemberSkill MemberSkill--#{display_class_for_member_skill(skill)} #{leaf_class}"
            h4 = skill.title
            p = skill.member_description
    hr
    .row
      .large-12.columns
        h3 = t(".ministries")
        - current_member.ministries.uniq.each do |ministry|
          .callout
            h4 = ministry.name
            p = ministry.description
            - ministry.skills.each do |skill|
              - skill_class = current_member.has_skill?(skill) ? "primary" : "secondary"
              span> class="label #{skill_class}" = skill.title